<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker</title>
    {% load static %} <!-- Додайте цей рядок -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Task Tracker</h1>
        <nav>
            <a href="{% url 'task_list' %}">Home</a>
            <a href="{% url 'task_create' %}">Create Task</a>
            <a href="{% url 'logout' %}">Logout</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
